html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: thistle;
}

.pad-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 0.5rem;
}

.drum-pad {
  background-color: brown;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  cursor: pointer;
  transition: transform 0.4ms ease;
}

.drum-pad:hover {
  transform: scale(1.02);
}

.drum-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#display {
  margin-right: 0.5rem;
  background-color: wheat;
  min-width: 150px;
  height: 40px;
  padding: .5rem;
  font-size: 24px;
}